[defaults]
timeout                 = 120
roles_path              = ./core/roles
remote_port             = 22
become                  = true
become_user             = root
forks                   = 100
log_path                = ./logs/ansible.log
#inventory               = inventory/
host_key_checking       = False
retry_files_enabled     = True
stdout_callback         = debug

strategy_plugins = /usr/lib/python2.7/site-packages/ansible_mitogen/plugins/strategy
strategy = mitogen_linear

[paramiko_connection]
record_host_keys        = False

[ssh_connection]
ssh_args                = -o ControlMaster=auto -o ControlPersist=600s -o UserKnownHostsFile=/dev/null
pipelining              = True
control_path            = /tmp/ansible-ssh-%%h-%%p-%%r

