# GRUB Environment Block
saved_entry={{ boot_kernel_version }}
########################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################
