# THIS FILE IS MANAGED BY ANSIBLE, ALL CHANGES WILL BE LOST

# zabbix.southbridge.ru
136.243.83.53
# vs40.southbridge.ru monit
144.76.83.152
# vs05.southbridge.ru ansible jenkins
144.76.83.139
{% if ansible_ssh_proxy is defined %}
# Address of the SSH proxy
{{ ansible_ssh_proxy }}
{% endif %}
{% if ansible_ssh_proxy_internal_address is defined %}
# Internal address of the SSH proxy
{{ ansible_ssh_proxy_internal_address }}
{% endif %}
{% if zabbix_server is defined %}
# Zabbix server/proxy
{{ zabbix_server }}
{% endif %}
